In [ ]:
from datetime import datetime
import locale
import os

from dotenv import load_dotenv
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import sqlalchemy as sa

load_dotenv()

locale.setlocale(locale.LC_ALL, "pt_BR.UTF-8")
locale.setlocale(locale.LC_MONETARY, "pt_BR.UTF-8")

pd.set_option("display.float_format", lambda x: locale.currency(val=x, symbol=False, grouping=True))

engine: sa.Engine = sa.engine.create_engine(os.getenv("URL_MYSQL"))

In [ ]:
sqls: list[str] = [
    """
        CREATE TABLE IF NOT EXISTS lançamento (
            id_lançamento TINYINT AUTO_INCREMENT PRIMARY KEY,
            lançamento VARCHAR(60) NOT NULL
        )
    """,
    """
        CREATE TABLE IF NOT EXISTS espelho (
            id INTEGER AUTO_INCREMENT PRIMARY KEY,
            id_lançamento TINYINT NOT NULL,
            período MEDIUMINT NOT NULL,
            acerto BOOLEAN NOT NULL DEFAULT FALSE,
            valor DOUBLE NOT NULL
        )
    """,
    """
        SELECT id_lançamento AS Código, lançamento AS Lançamento
        FROM lançamento
    """,
    """
        SELECT id_lançamento AS Código, período AS Período, acerto AS Acerto, valor AS Valor
        FROM espelho
    """,
    """
        SELECT y.lançamento AS Lançamento, x.período AS Período, IF(x.acerto = 1, 'A', 'M') AS Acerto, x.valor AS Valor
        FROM espelho x LEFT JOIN lançamento y ON x.id_lançamento = y.id_lançamento
        WHERE x.período = YEAR(CURRENT_DATE()) * 100 + MONTH(CURRENT_DATE())
    """,
    """
        SELECT SUM(valor) AS Total
        FROM espelho
        WHERE período = YEAR(CURRENT_DATE()) * 100 + MONTH(CURRENT_DATE())
    """,
    """
        SELECT período AS Período, SUM(valor) AS Total
        FROM espelho
        WHERE SUBSTR(período, 1, 4) = YEAR(CURRENT_DATE())
        GROUP BY período
    """
]

In [ ]:
pd.read_sql(sql=sa.text("SELECT id_lançamento AS Código, lançamento AS Lançamento FROM lançamento"), con=engine)

In [ ]:
with engine.begin() as cnx:
    cnx.execute(sa.text(sqls[0]))
print("Tabela criada com sucesso!")

In [ ]:
df_new: pd.DataFrame = pd.read_csv("./src/espelho.csv", sep=",", encoding="utf-8-sig")
row_inserted: int = df_new.to_sql(name="espelho", con=engine, if_exists="append", index=False)
print(f"Foram {row_inserted} lançamentos inseridos com sucesso.")

In [ ]:
pd.read_sql(sql=sa.text(sqls[6]), con=engine)

In [ ]:
df_new: pd.DataFrame = pd.read_csv("../src/espelho.csv", encoding="utf-8-sig")
rows_inserted: int = df_new.to_sql(name="espelho", con=engine, if_exists="append", index=False)
print(f"Foi(ram) {rows_inserted} lançamento(s) inserido(s) com sucesso.")

In [ ]:
period: int = datetime.now().year*100 + datetime.now().month

stmt: str = f"""
    SELECT
        l.lançamento,
        e.período,
        IF(e.acerto, 'acerto', 'mês') AS espelho,
        e.valor
    FROM
        espelho e
        INNER JOIN lançamento l ON e.id_lançamento = l.id_lançamento
    WHERE
        e.período = {period}
    ORDER BY
        e.acerto DESC
"""

df_mes: pd.DataFrame = pd.read_sql(sql=sa.text(stmt), con=engine)
df_mes["período"] = pd.to_datetime(df_mes["período"], format="%Y%m").dt.strftime("%B de %Y")
df_mes

In [ ]:
year: int = datetime.now().year

stmt: str = f"""
    SELECT
        l.lançamento,
        e.período,
        IF(e.acerto = 1, 'acerto', 'mês') AS acerto,
        e.valor
    FROM
        espelho e
        INNER JOIN lançamento l ON e.id_lançamento = l.id_lançamento
    WHERE
        e.período LIKE '{year}%'
"""

df_ano: pd.DataFrame = pd.read_sql(sql=sa.text(stmt), con=engine)
df_ano = df_ano.pivot(values=["valor"], index=["lançamento", "acerto"], columns=["período"])
df_ano.columns = df_ano.columns.droplevel(level=0)
df_ano.reset_index(inplace=True)
df_ano.fillna(value=0, inplace=True)
df_ano.sort_values(["acerto"], inplace=True, ignore_index=True)
df_ano.columns.rename("", inplace=True)
df_ano["média"] = df_ano.mean(axis=1, numeric_only=True)
df_ano["total"] = df_ano[df_ano.columns[:-1]].sum(axis=1, numeric_only=True)
df_ano.loc["sumário"] = df_ano.sum(numeric_only=True)
df_ano.fillna(value="", inplace=True)
df_ano.iloc[-1, 0] = "Sumário"
df_ano.set_index(["lançamento"], inplace=True)
df_ano.rename(columns={
    int(f"{year}01"): "jan", int(f"{year}02"): "fev", int(f"{year}03"): "mar", int(f"{year}04"): "abr",
    int(f"{year}05"): "mai", int(f"{year}06"): "jun", int(f"{year}07"): "jul", int(f"{year}08"): "ago",
    int(f"{year}09"): "set", int(f"{year}10"): "out", int(f"{year}11"): "nov", int(f"{year}12"): "dez",
}, inplace=True)
df_ano

In [ ]:
stmt: str = """
    SELECT
        SUBSTR(período, 1, 4) AS ano,
        CONCAT('mês ', SUBSTR(período, 5)) AS mes,
        SUM(valor) AS valor
    FROM
        espelho
    GROUP BY
        ano,
        mes
"""

df_anuais: pd.DataFrame = pd.read_sql(sql=stmt, con=engine)
df_anuais = df_anuais.pivot(columns=["mes"], index=["ano"], values=["valor"])
df_anuais.columns = df_anuais.columns.droplevel(level=0)
df_anuais.reset_index(inplace=True)
df_anuais["ano"] = df_anuais["ano"].astype(int)
df_anuais.set_index(["ano"], inplace=True)
df_anuais.fillna(0, inplace=True)
df_anuais["média"] = df_anuais.mean(axis=1)
df_anuais["total"] = df_anuais[df_anuais.columns[:-1]].sum(axis=1)
df_anuais.columns = ["jan", "fev", "mar", "abr", "mai", "jun", "jul", "ago", "set", "out", "nov", "dez", "média", "total"]
df_anuais

In [ ]:
year: int = int(input("Em que ano quer visualizar o gráfico (a partir de 2005)? "))

if 2005 <= year <= datetime.now().year:
    stmt: str = f"""
        SELECT
            SUBSTR(período, 1, 4) AS ano,
            CONCAT('mês ', SUBSTR(período, 5)) AS mes,
            SUM(valor) AS valor
        FROM
            espelho
        GROUP BY
            ano,
            mes
    """

    df_anual: pd.DataFrame = pd.read_sql(sql=sa.text(stmt), con=engine)
    df_anual = df_anual.pivot(columns=["mes"], index=["ano"], values=["valor"])
    df_anual.columns = df_anual.columns.droplevel(level=0)
    df_anual.reset_index(inplace=True)
    df_anual["ano"] = df_anual["ano"].astype(int)
    df_anual.set_index(["ano"], inplace=True)
    df_anual.fillna(0, inplace=True)
    df_anual["média"] = df_anual.mean(axis=1)
    df_anual["total"] = df_anual[df_anual.columns[:-1]].sum(axis=1)
    df_anual.columns = ["jan", "fev", "mar", "abr", "mai", "jun", "jul", "ago", "set", "out", "nov", "dez", "média", "total"]

    plt.figure(figsize=(16, 4))
    plt.style.use("ggplot")

    ax: plt.Axes = sns.barplot(data=df_anual.loc[[year], df_anual.columns[:-2]])
    ax.set_title(f"Espelho {year}", loc="center", fontweight="bold", fontsize=12)
    ax.set(xlabel="", ylabel="", yticks=[])

    for mes in range(12):
        ax.bar_label(ax.containers[mes], fmt=lambda i: locale.currency(val=i, symbol=False, grouping=True), fontsize=10)

    plt.show()
else:
    print(f"Não consta o contracheque do ano {year}.")

In [ ]:
year: int = datetime.now().year

plt.figure(figsize=(16, 6))
plt.style.use("ggplot")

ax: plt.Axes = sns.barplot(data=df_anuais.loc[[year], df_anuais.columns[:-2]])
ax.set_title(f"Espelho {year}", loc="center", fontweight="bold", fontsize=12)
ax.set(xlabel="", ylabel="", yticks=[])

for mes in range(12):
    ax.bar_label(ax.containers[mes], fmt=lambda i: locale.currency(val=i, symbol=False, grouping=True), fontsize=10)

plt.show()