In [ ]:
from dotenv import load_dotenv
import os
import pandas as pd
import sqlalchemy as sa

load_dotenv()

engine: sa.Engine = sa.create_engine(os.getenv("URL_MYSQL"))

In [ ]:
try:
    row_inserted: int = pd.read_csv("../src/unibb.csv", encoding="utf-8-sig").to_sql(name="unibb", con=engine, if_exists="append", index=False)
    print(f"Foi(ram) {row_inserted} registro(s) inserido(s) com sucesso!")
except FileNotFoundError:
    print("Erro ao localizar um arquivo .CSV...")
except UnicodeEncodeError:
    print("Erro ao decodificar um arquivo .CSV...")

In [ ]:
stmt: str = "SELECT id_curso AS Código, nm_curso AS Curso, hr_curso AS Horas FROM unibb ORDER BY id_curso"
pd.read_sql(sql=sa.text(stmt), con=engine)

In [ ]:
stmt: str = "SELECT id_curso AS Código, nm_curso AS Curso, hr_curso AS Horas FROM unibb ORDER BY id"
pd.read_sql(sql=sa.text(stmt), con=engine)

In [ ]:
stmt: str = """
    SELECT id_curso AS Código, nm_curso AS Curso, hr_curso AS Horas FROM unibb WHERE nm_curso IN (
        SELECT nm_curso FROM unibb GROUP BY nm_curso HAVING COUNT(nm_curso) > 1
    ) ORDER BY nm_curso, id_curso
"""
pd.read_sql(sql=sa.text(stmt), con=engine)